[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Lustre userspace coordinator as copytool "
[access "refs/*"]
	owner = group cea-hpc
	owner = group user/Guillaume Courrier (courrierg)
[access "refs/heads/*"]
	create = group cea-hpc
	create = group user/Guillaume Courrier (courrierg)
	push = +force group cea-hpc
	push = +force group user/Guillaume Courrier (courrierg)
	pushMerge = group cea-hpc
	pushMerge = group user/Guillaume Courrier (courrierg)
[access "refs/tags/*"]
	push = group cea-hpc
	createSignedTag = group cea-hpc
	createTag = group cea-hpc
