[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[project]
[access "refs/*"]
	owner = group cea-hpc
	owner = group user/Guillaume Courrier (courrierg)
	deleteOwnChanges = group cea-hpc
[access "refs/heads/*"]
	create = group cea-hpc
	create = group user/Guillaume Courrier (courrierg)
	push = +force group cea-hpc
	push = +force group user/Guillaume Courrier (courrierg)
	pushMerge = group cea-hpc
	pushMerge = group user/Guillaume Courrier (courrierg)
[access "refs/tags/*"]
	push = group cea-hpc
	createSignedTag = group cea-hpc
	createTag = group cea-hpc
[receive]
	requireSignedOffBy = false
	requireChangeId = true
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyAllScoresOnTrivialRebase = true
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
